#canvas {
  border-color: black;
  border-style: solid;
  background-color: white;
}
#fps {
  position: fixed;
  top: 5px;
  left: 5px;
  color: black;
  font-family: sans-serif;
}

body {
  background-color: rgb(76, 88, 99);
}